body{
	background:url(../images/page_bg.jpg) no-repeat #ffffff;
	padding:0px;
	margin:0px;
}

#logo{
	position:relative;
	top:0px;
	left:0px;
}

#wrapper{
	display: block;
	width: 970px;
	height: 640px;
	background: #000000;
	padding: 15px; 
	color: black;
	font-family: arial;
	position: relative;
	margin: 0 auto;
	text-align: left;
}


#header{
	position:relative;
}

#content{
	
}

#footer{
	
}